[2019-02-13 17:45] joey199002 opened #1 "install error: example does not exist or not a regular file"
Hi Gyan,
When i tried to install with pip or setup.py the error popped up with error: cant copy'pydsstools\examples\files':doesn't exist or not a regular file.
Do you know what's going on here?
Many thanks
Joey

[2019-02-13 18:05] joey199002 commented on #1
Here's the screen shot when i was trying to install:
![untitled](https://user-images.githubusercontent.com/47578222/52733138-947fba80-2f87-11e9-8d6d-84deaa881ff8.png)

[2019-02-13 18:56] joey199002 commented on #1
I got it, seems like your package_data defination is inappropriate. should change 'examples/*' to : 'examples/*.dss','examples/*.py','examples/files/*'
so that it wont include the 'files' file inside the 'example' directory.

[2019-02-13 18:57] #1 closed

[2019-07-01 20:12] danhamill opened #2 "example3.py ModuleNotFoundError: No module named 'pydsstools.core.core_heclib'"
Hi,

Thanks for the great package.

I installed using:

[code]

Which seemed to work fine.  After trying a few of the example scripts, I got the following error when I ran example3.py.

[code]

A bit about my computer:
[code]

I looked in `_Lib` and only found the .pyd file.  Do you have the cython files I could look at?  If so, I can submit PR.

Thanks!

Dan

[2019-07-02 20:53] gyanz commented on #2
Hi Dan,

This is a bug. The core package does not have core_heclib subpackage. This can be fixed by modifying import statement in utils.py as follows:
`from ..core import (HecTime, DssStatusException, GranularityException,ArgumentException)`

and appending above imports in __all__ variable of core package. You are welcome to make these changes and submit the PR.

[2019-07-03 01:28] gyanz commented on #2
I made the correction. Example 3 ran without import error.

[2019-07-03 12:59] danhamill commented on #2
Thank you.  Same result over here!

[2019-07-03 12:59] #2 closed

[2019-07-20 14:49] tgrout opened #3 "Install for 3.6?"
Is it possible to have this compatible with 3.6 as well? trying to use this with ESRI which only uses up to 3.6.

Thanks

[2019-07-22 06:04] gyanz commented on #3
Is this python compiled with Microsoft C/C++ or MSC version 1900?

[2019-07-22 14:00] danhamill commented on #3
I also would greatly benefit from python 3.6 support.  I haven't been able to get GDAL properly set up on 3.7 and primarily use:

[code]

[2019-07-22 15:47] tgrout commented on #3
Similar to danhamill:

Python 3.6.7 (default, Jul  2 2019, 02:21:41) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

[2019-07-22 18:32] gyanz commented on #3
I was able to build and import the extension module in Python 3.6. It will take me few days to test it thoroughly. In the meantime, please send me an email if you would like to try it out in your computer.

[2019-07-22 18:34] danhamill commented on #3
Great news!

I don't mind testing.

Daniel.D.Hamill@usace.army.mil

Thanks!

On Mon, Jul 22, 2019 at 2:32 PM Gyan Basyal <notifications@github.com>
wrote:

[2019-07-22 18:38] tgrout commented on #3
I sent you an e-mail (at your e-mail address listed on your account).
Thanks so much and I will try this out on my computer!

[2019-07-22 21:45] tgrout commented on #3
Gyan,
Hi, I am able to import pydsstools, however, when I do one of the sample
scripts for the 3.7 version I get this error:

[image: image.png]

On Mon, Jul 22, 2019 at 1:34 PM Daniel Hamill <notifications@github.com>
wrote:

[2019-07-22 21:46] tgrout commented on #3
Sorry, i am running this in 3.6.7 just to be clear.

On Mon, Jul 22, 2019 at 4:44 PM Trevor Grout <grou8889@gmail.com> wrote:

[2019-07-23 01:37] tgrout commented on #3
I may be doing something wrong on the install? I am getting this error when trying to import HecDss

import pydsstools
from pydsstools.heclib.dss import HecDss
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-4-c3bf274dccf5> in <module>
      1 import pydsstools
----> 2 from pydsst

[2019-07-23 15:37] danhamill commented on #3
After install installing, here are the results from the example scripts

* Example 1 = pass
* Example 2 = pass
* Example 3 = pass
* Example 4 = pass
* Example 5 = pass
* Example 6 = pass
* Example 7 = pass
* Example 8 = pass
* Example 9 = pass
* Example 10 = fail
[code]
* Example 11 = pass
* Example 12 = pass
* Example 13 = pass

[2019-07-23 15:40] danhamill commented on #3
@tgrout To install, I had to modify `python_requires` in the setup.py from master:

[code]

Then I just had to copy over README.md to obtain `long_description`

I then installed it locally using:

[code]

[2019-07-23 15:43] tgrout commented on #3
@danhamill Thanks!!!  I figured I probably did something wrong with the install process. I will try this!

[2019-07-23 20:51] danhamill commented on #3
@gyanz Thank you for supporting python 3.6 👏 🥅 🕵 !  I just installed from master.

-D

[2019-07-23 22:45] tgrout commented on #3
Likewise, thank you very, very much!

[2019-07-23 22:45] #3 closed

[2019-09-04 19:48] danhamill opened #4 "Feature Request: Squeeze"
I would be very nice to have the squeeze functionality added to this package.

Do you have any insight into how complicated this might be?

[2019-09-05 19:23] gyanz commented on #4
This is easy. I will make the squeeze function available in the next update.

[2019-09-05 20:58] danhamill commented on #4
Famous last words 🕵🏻‍♂️

Thanks!

Sent from my iPhone

[2019-09-06 04:40] gyanz commented on #4
You can use dss squeeze as follows:
[code]

[2019-09-06 17:12] danhamill commented on #4
Sweet!

[2019-09-06 17:12] #4 closed

[2019-09-09 10:05] DineshNeupane opened #5 "Any way to convert csv or any excel format data to .dss ?"

[2019-09-09 15:36] gyanz commented on #5
You can read the csv as list, numpy array, or dataframe, and then convert the data to dss records.

[2019-09-13 18:02] danhamill opened #6 "Time Series types"
I have a question about how `TimeSeriesContainer` containers interpret time series types.  In the examples you have:

[code]
When I run this code, I get dss time series of the type `INST-VAL'.  Specific questions:

1.  Why wasn't this iterpreted as `INST-CUM`?

Is there a docstring that explains this logic?

Thanks,

Dan

[2019-09-17 16:19] gyanz commented on #6
INST is not a valid type for time series - this is a type in the example. The HEC-DSS C library probably  defaults to INST-VAL if type info is invalid.

[2019-10-19 16:03] #5 closed

[2019-10-19 16:04] #6 closed

[2019-11-06 16:31] lucas1867 opened #7 "pytimes error, hour must be in 0..23"
I've been having trouble with the library when trying to plot a time series with the midnight hour in it, since HEC-RAS uses 24:00 for it and python doesn't recognize it. With a startDate, endDate of:

["29JAN2019 21:30:00", "30JAN2019 05:30:00"]

I get this error when running `times = np.array(ts.pytimes)`

`dateutil.parser._parser.ParserError: hour must be in 0..23: 29 Jan2019 24:00:00`

I was w

[2019-11-06 17:57] MikeNeilson commented on #7
Check if your plotting library supports a date formatting character of k or K or has any discussion of the 2400 hour. Th k character often used to represent the 24:00 time if a library supports it. However, it isn't well supported by most date libraries.

Otherwise you could convert the HEC Times to UNIX time and insert that into your numpy array. If your plotting library won't take UNIX time dire

[2019-11-06 19:11] lucas1867 commented on #7
Mike, thank you for your answer.
The thing is the array obtained from the DSS by pydsstools, `ts.pytimes`, is not a callable object in the python environment, and I cannot convert the datetime format. Even typing `print(ts.pytimes)` gets me an error

[code]

[2019-11-07 05:18] gyanz commented on #7
ts.pytimes uses getPyDateTimeFromString function from hectime.pyx. This function is supposed to convert any date with 2400 hours to python compatible date, i.e., next day with 0000 hours. Unfortunately, I won't be able to look into this until I am back from vacation next week.

[2019-11-07 23:11] mylesmcm opened #8 "Regular Interval Time Series Data - Missing Values"
If data is missing in a DSS record, DSS returns the max negative float value = -3.4028235e+38

This is by design, so the user must handle any values equal to the max negative float. Otherwise, any missing values will be erroneously displayed in the user's tables and plots as -3.4028235e+38. Example shown below.

![image](https://user-images.githubusercontent.com/51373333/68435638-a6863680-0170-11e

[2019-11-08 07:01] gyanz commented on #8
@mylesmcm timeseries object has nodata attribute, which is Boolean numpy array containing True value for each missing element. Internally, it uses zisMissingFloat/zisMissingDouble functions that handle both DSS 6 and 7 missing values.

[2019-11-13 19:16] mylesmcm commented on #8
Thank you @gyanz . I used the nodata attribute as a column in a dataframe and then the numpy method: where() to modify the 'Values' column with a conditional on the nodata - 'Missing' column.  The conditional is: If 'Missing' is True then set Value to NaN.

By setting any missing value to NaN, instead of the sentinal value of -3.4028235e+38 for DSS version 7 files, other Python libraries that work

[2019-11-13 19:42] #8 closed

[2019-11-13 19:43] gyanz commented on #8
@mylesmcm I use the following approach:
[code]

[2019-11-13 21:08] mylesmcm commented on #8
@gyanz This is an elegent approach using Numpy's Boolean Array Indexing. Very Cool!

I do see one potential issue though, by removing the missing times and values, you will cause any subsequent plotting to not show the missing ordinates. Plots would interpolate between the data points instead of having a gap over the missing ordinates.

For some cases, users will want to see where data is missing

[2019-11-13 21:19] gyanz commented on #8
@mylesmcm  You can change the dss nodata to np.nan or any other value (e.g., -9999) with the
 following. Hope this helps.
[code]

[2019-11-18 03:30] gyanz commented on #7
@lucas1867 Can you check your script with the latest version (1.4)?

[2019-11-19 12:09] lucas1867 commented on #7
@gyanz I can confirm it works just fine in version 1.4. Thank you!

[2019-11-19 12:09] #7 closed

[2019-11-26 19:37] azinsharaf opened #9 "Export DSS as CSV file"
Hi Gyan,

Can pydsstools read a DSS file and export a specific time series to a csv file?

Thanks,
Azin

@gyanz

[2019-11-27 17:42] gyanz commented on #9
@azinsharaf  Following code shows few ways to export timeseries to file:

[code]

[2019-12-14 18:29] #9 closed

[2020-05-15 19:57] thwllms opened #10 "Python 3.8?"
Are there any plans to make `pydsstools` compatible with Python 3.8 (for Windows)?

Thanks for creating this awesome library.

[2020-05-17 21:30] gyanz commented on #10
I have updated library for Python 3.8. Please review changelog for additional information.

[2020-05-18 15:34] thwllms commented on #10
Thanks so much! I couldn't pip install on 3.8.2, though, until I changed the `python_versions` string in `setup.py` to this:
[code]

[2020-05-19 02:25] gyanz commented on #10
I have corrected the setup file. Let me know if you experience other issues or have any suggestions.

[2020-05-23 06:13] #10 closed

[2020-06-02 16:38] danhamill opened #11 "Can write time series with only one data point"
When trying to write a regular time series with only one item you get the following error after you call the `put` method.
[code]
Data:
[code]
Write to dss file:

[code]

[2020-06-02 19:37] gyanz commented on #11
I believe me.values.squeeze() in your script is producing a scalar, not an array or a list. Can you replace this with me.depth.values and see if it works?

[2020-06-02 21:05] danhamill commented on #11
That's is. Thanks!

[2020-06-02 21:05] #11 closed

[2020-08-11 22:51] SercanC opened #12 "Writing to a new DSS file"
Hello,

I can successfully write to an existing DSS file. When I try to write to a new DSS file, the file is created successfully and it seems like some data is populated. When I try to open the DSS file with DSSVue, I get the "cannot access file" error.

Thanks for the package!
Sercan

[2020-08-13 05:15] gyanz commented on #12
Hi Sercan,

The Open command takes the "version" argument. It can be either 6 or 7, and governs the file format of a new DSS file. Only the version 6 is compatible with the current DssVue software.

[2020-08-21 06:04] SercanC commented on #12
Awesome, thank you!

[2020-08-21 06:04] #12 closed

[2020-08-24 19:33] danhamill opened #13 "Cant view grids after opening file."
After running Example 10:

[code]

I cant seem to view the grids in DSS.  I have tried DSSvue version `3.0.00.212`.  I see the traceback from DSSvue of:

[code]

Any ideas on what is going on here?

[2020-08-27 18:17] SercanC opened #14 "ImportError: DLL load failed"
I am having an having an ImportError after I updated the pydsstools package from an earlier version using Python 3.7. Do you have any ideas what the cause might be?

![MicrosoftTeams-image (2)](https://user-images.githubusercontent.com/11078309/91479760-d06f2d80-e856-11ea-99cf-b67b55b608d3.png)

Best,
Sercan

[2020-08-27 22:16] gyanz commented on #14
Starting version 1.6, pydsstools is dependent on Microsoft C++ Runtime libraries. I have provided link to download this in the Dependencies section of Readme.

[2020-09-10 18:49] mohamedmorsy opened #15 "Cannot Access File"
Every time I try to run Example 10 and after generating the example.dss, my HEC-DSSVue is not able to open it and I get the following message:

 Cannot Access File: filepath

[2020-09-17 21:00] gyanz commented on #13
I was able to view the grid record in DssVue after removing the start and end dates from the path name:

`pathname_out2 = "/GRID/RECORD/DATA///Ex10b/"`

I may have used incompatible date format in the example.

[2020-09-30 14:56] SercanC commented on #14
Thank you!

[2020-09-30 14:56] #14 closed

[2020-10-09 15:49] openSourcerer9000 opened #16 "How to suppress prints?"
Hello, thank you for building this tool! I'm wondering how can I suppress the printed statements/warnings that it generates as I use it? I'm trying to read thousands of time series' to a pd dataframe, from the examples it seems I have to do them one at a time. Especially with all of this stuff printing out it runs very very slow.

In JupyterLab, they show up as warnings and print for miles down th

[2020-10-09 17:59] gyanz commented on #16
I suggest including following code at the beginning of file or code to suppress the print statements:
[code]
The level parameter can be None, Error, Critical, General, Info, Debug or Diagnostic.

[2020-10-10 17:41] openSourcerer9000 commented on #16
Hm, I'm trying that and it's still printing:

WARNING:root:***Setting DSS Logging, Method = 0, Level = 0***

WARNING:root:***Setting DSS Logging, Method = 0, Level = 0***

WARNING:root:***Setting DSS Logging, Method = 0, Level = 0***

    -----DSS---ZOPEN:  Existing File Opened,  File: C:\Users\openSourcerer\CDT.dss

                       Unit:    3;  DSS Versions - Software: 6-YN, File: 6-KE,  L

[2020-11-09 19:57] apreucil commented on #15
I had the same issue. I was able to open the file using HEC-DSSVue 3.0 or greater. Download that and it should fix your problem.

[2020-11-10 13:36] mohamedmorsy commented on #15
@apreucil Thank you so much! I will give a try.

[2020-11-12 15:44] skywalker788 commented on #15
Facing the same issue. Hope that dss file produced will work with hec-hms.
@apreucil Where did you found HEC-DSSVue 3.0? The last major version is 2.0 of Febrary 2010

[2020-11-16 02:10] gyanz commented on #15
Following has download link for HEC-DSSVue 3.0: https://github.com/gyanz/pydsstools/blob/master/dssVue/DISCLAIMER.MD

[2020-12-04 23:01] brettpalmberg opened #17 "Would Like to Compile pydsstools on Linux"
Good Afternoon.  How does one compile pydsstools?  Here is what I have tried so far:

The Dockerfile used to attempt a build is here: https://github.com/USACE/pydsstools/blob/feature/docker-linux-builds/Dockerfile .

Seeing the following:
![image](https://user-images.githubusercontent.com/29417036/101223462-bb721980-3651-11eb-937b-821e3770dcf2.png)

[2020-12-04 23:11] ktarbet commented on #17
@gyanz  If you need header files included I'm happy to make a pull request.  Where would you like the DSS header files? Or other files?

[2020-12-07 16:14] brettpalmberg commented on #17
@ktarbet @gyanz - have pydsstools building for x64/py38, but had to twiddle these lines to make it work without `DSSGrid_wrap.h`.  I'm not sure if this will cause underlying problems i'm not aware of:
![image](https://user-images.githubusercontent.com/29417036/101375289-cfe22c00-3874-11eb-97ef-0243fc0d83a2.png)

[2020-12-07 19:43] gyanz commented on #17
@brettpalmberg I have incorporated @ktarbet 's custom C++ code for reading DSS 6 grid. This code is not a part of HEC's DSS7 library. Your above edit will work fine as long as you don't read DSS 6 grid.

The function I need from Karl's code is C++ type, so I added few C type interface files for use in pydsstools. These files are in the link below. I can also email you Karl's code and my modificati

[2020-12-09 16:59] gyanz commented on #17
I use the following to build the library in my machine.

[code]

[2021-02-08 16:03] meteorolog90 opened #19 "Support Python 3.6.11 ?"
pip install https://github.com/gyanz/pydsstools/zipball/master
Collecting https://github.com/gyanz/pydsstools/zipball/master
  Using cached https://github.com/gyanz/pydsstools/zipball/master
Requirement already satisfied: numpy>=1.16.4 in ./env/lib/python3.6/site-packages (from pydsstools==1.6) (1.18.5)
Requirement already satisfied: pandas in ./env/lib/python3.6/site-packages (from pydsstools==1.

[2021-02-09 02:09] gyanz commented on #19
It looks like you are using Linux. You need Python 3.8 to use pydsstools in Linux.

[2021-02-09 07:00] meteorolog90 commented on #19
Yes Linux. I posted error from server machine, on which it is Python 3.6. Then i tested on Ubuntu 20.04LTS, which have Python 3.8 and it works. But i'm sad, because need **pydsstools** for this server machine.

Anyway, thank you for answer

[2021-02-12 16:04] gyanz commented on #19
Hi, it is just impractical for me to provide compiled binaries for multiple Python versions and operating systems. I have recently started working on a new version that will allow users to compile the library themselves. You can use this version in your server machine. I estimate to release this by end of February.

[2021-02-12 16:12] meteorolog90 commented on #19
Great, thank you. I will follow this updates

[2021-02-13 04:10] MikeNeilson commented on #19
@gyanz, the github action system has really good support for matrix builds, which makes repeating operations using different versions pretty easy, that I've used for other projects. Other than just the time to set it up is there anything stopping the project using the github feature to generate the the library and run tests?

By way of example I set this up today for another python project: https:

[2021-02-13 04:37] MikeNeilson commented on #19
Though as a more concrete example for this project I just took the liberty of creating a simple version of this idea. The results are... mixed.
https://github.com/MikeNeilson/pydsstools/actions/runs/563008000

3.7 and 3.8 ran `python setup.py install` just fine on ubuntu-18.04 and windows, 3.5 and 3.6 had errors with the supporting libraries like numpy and pandas. So depending on whether that's an

[2021-02-16 04:33] gyanz commented on #19
@MikeNeilson thanks for your effort and suggestions. I will look into github action system, which I am not familiar with.

Anyways, python extension module in Windows has runtime dependency on the specific version of python. For example, module compiled with Python 3.7.x is linked with python37.dll. This python version dependency does not exist in Linux, however, as shown in the core_heclib.so inf

[2021-02-22 05:33] gyanz commented on #19
@meteorolog90 I have uploaded the new version. Please follow the updated instruction to install from source.

[2021-03-02 14:51] #17 closed

[2021-03-02 18:38] #19 closed

[2021-03-02 18:39] #15 closed

[2021-03-05 21:52] gyanz commented on #16
This issue has been resolved in version 1.8.

[2021-03-06 21:33] #16 closed

[2021-03-31 00:27] gyanz opened #21 "Question about SHG grid to tiff"
I used pydsstools to generate tiff from grid data in the attached dss file. The following figure shows this tiff layer in QGIS with background map. Based on the source of data, I had expected the tiff to be on top of Texas. Can someone please confirm the tiff was generated correctly based on the grid's meta data? @brettpalmberg @jeffsuperglide @MikeNeilson @ktarbet @danhamill @eheisman

![SHG_pyds

[2021-03-31 14:32] apreucil commented on #21
Hi Gyanz, I put the tif into ArcGIS pro and got the same image you did. I checked the map projection and it is the same as the projection information listed in the DSS (see first 3 images below).

For what its worth, I pulled the precipitation on Jan 30, 2020 from the AHPS precip analysis (see last image) and it does look a bit different than the tifs. Perhaps there was an issue with the initial d

[2021-03-31 14:49] danhamill commented on #21
@gyanz I think there is something wrong with your geotransform.  The tiff your provided has:

[code]
Which would result in this affine transformation:

[code]

The raster output raster should have:

[code]

You would want this for the geotransorm:

[code]

![image](https://user-images.githubusercontent.com/11522898/113168161-6797cb80-9212-11eb-8c51-865235e85db2.png)

[2021-04-01 05:26] gyanz commented on #21
The grid and tiff both have transform as Affine(cell_width, 0, xmin, 0, -cell_height, ymax). The (xmin, ymax) is the coordinates of the top left corner of the top left cell. I think this is correct formulation for the transform. The (xmin, ymax) was calculated based on the origin coordinates or the (XCoord, YCoord) of Grid Cell Zero. I am starting to think either the origin coordinates is incorrec

[2021-04-01 12:01] danhamill commented on #21
Which zero?

![image](https://user-images.githubusercontent.com/11522898/113291046-7046db00-92c0-11eb-8fa0-d6b814ee760d.png)

[2021-04-01 15:27] gyanz commented on #21
I am referring to the first figure. My understanding is that the origin coordinates of the "raster" can be anything including (0,0). And that the origin of the spatial reference system is at 0 lat and -96 long for Albers coordinate reference system.

[2021-04-01 16:09] danhamill commented on #21
The xy coords of the lower left corner of the raster are defined in the detailed grid info

lower left x = -63*2000 meters
lower left y = 55 * 2000 meters

The xy coords of the upper left corner would be

upper left  x = -63 * 2000 meters = -1326000.000 meters
upper left y = 55* 2000 + 845 * 2000 meters = 1800000.000 = meters

Where 845 is the number of rows.   The xy coordinate 0 meters, 0 meters

[2021-04-01 16:36] gyanz commented on #21
@danhamill Thanks for the clarification. According to your calculation, the Grid Cell Zero is located at origin of Albers crs. This means I was calculating the transform value incorrectly.

[2021-04-01 16:44] danhamill commented on #21
Here is a plot showing the upper left corner of the raster and the image values greater than zero.  The upper left corner is in southern central Utah.

![image](https://user-images.githubusercontent.com/11522898/113326523-c8450800-92e7-11eb-8263-523ee8c3db89.png)

[2021-04-02 05:44] gyanz commented on #21
Thanks @danhamill and @apreucil. I have revised the source code. I will keep this issue open to get additional comments.

[2021-04-02 15:48] gyanz opened #22 "Develop automated testing using unittest"

[2021-04-27 08:12] pankoss opened #23 "Problems with the installation of the library"
Dear,

Firstly, thank you very much for the so useful library that allows the automation of HMS softwares.

We are trying to install the library in Windows OS, following the procedure (installing firstly the dependent libraries and the MS Visual C++ Redistributable for VS 2015 - 2019) you are describing. Unfortunately, it was not possible to install the library (neither via githab directly nor via

[2021-04-27 14:49] gyanz commented on #23
Hi @pankoss, I don't recommend building from source as it requires both MS Visual C++ and Intel Fortran compilers. The later is free only for users such as open source developers and students. For installation from the wheel file, you need to open command prompt with python and pip library in the path. Typing "where python" or "where pip" should show the location of python.exe and pip.exe, respect

[2021-04-28 12:07] meteorolog90 opened #24 "Comptability on PPC64"
We trying too install pydsstools, but have problem with this library:
pydsstools/_lib/x64/core_heclib.cpython-38-x86_64-linux-gnu.so

Is there any source code, for **pydsstools/src/core_heclib.c**, which we can compile on our system from the beginning ?

[2021-04-28 14:49] gyanz commented on #24
@meteorolog90 The setup.py is configured to compile core_heclib.c, which is the core component of this library. I can help you if you provide details about your issue.

[2021-04-28 14:51] gyanz commented on #13
@danhamill Does the latest version resolve this issue?

[2021-04-28 14:54] gyanz commented on #13
@danhamill You may need to use more recent version [HEC-DSSVue](https://www.dropbox.com/sh/rro0vxhizkcm96e/AABYyoltauegQT1kgK7HyeQFa?dl=0).

[2021-04-28 14:57] danhamill commented on #13
I just tested in pydsstools version 2.0 and I could view the grids in dssvue 3.1.

[2021-04-28 15:01] meteorolog90 commented on #24
This library is not suported on our PPC64:
pydsstools/_lib/x64/core_heclib.cpython-38-x86_64-linux-gnu.so

So i ask for help, how to create this library on your machine. Is this the solution? :https://github.com/gyanz/pydsstools/issues/17

[2021-04-28 15:14] gyanz commented on #24
@meteorolog90 You can build from source. Download the source code and type following commands in terminal:

[code]

The above may still fail if the external dependency located in \src\external\dss is not compatible with PPC64. In this case, you may try building this dependency from source from HEC's [repository](https://github.com/HydrologicEngineeringCenter/hec-dss).

[2021-04-28 16:26] meteorolog90 commented on #24
With  command

`python setup.py build
python setup.py install`

got this error

when use .whl file :

(hec-hms) ext005@hpccmp01:~/Python3.8_env/hec-hms/pydsstools-master/dist> `pip install pydsstools-1.7-cp38-cp38-linux_x86_64.whl`
ERROR: pydsstools-1.7-cp38-cp38-linux_x86_64.whl is not a supported wheel on this platform.

So I asked for help. I will try this last solution

[2021-04-29 07:25] meteorolog90 commented on #24
Update:
[code]

[code]
libquadmath not foud:

Compile hec-dss was ok but compile pydsstools fails. Reason was libquadmath. Is this library important, or can be skiped ?

[2021-04-29 14:20] gyanz commented on #24
@meteorolog90 I have listed all linux dependencies in the Readme. Yes, quadmath is one of the dependencies.

[2021-04-30 14:07] #13 closed

[2021-04-30 14:07] #21 closed

[2021-06-08 16:46] lesliedolce commented on #23
I solved the compilation problem on linux by changing the filename hecdatatime.h to  HecDateTime.h which the name in .cpp file

[2021-06-21 16:16] kingsmedow commented on #23
Hi gyanz,
I just came across this tool and I am interested for a friend of mine, so I am trying to understand a bit more.

I should also say, it's a brilliant peice of code !

 I have it installed, however I cannot get dssvue to be recognised. If I add " from dssvue.main import show " there is a yellow squiggly line under dssvue.main and hovering says this..... Import "dssvue.main" could not be re

[2021-06-24 21:52] hahabibi88 opened #25 "Problem in projection of Grid DSS file"
I am trying to create Spatial Grid DSS and the put_grid function works just fine when I use "specified" as grid type. But if want to create the dss grid in SHG CRS, I get the following error:
      grid_info['grid_crs'] = SHG_WKT
      NameError: name 'SHG_WKT' is not defined

This error is related to from related to utils.py (line 192-195). It seems the SHG_WKT is variable but no where is defined

[2021-06-24 22:49] gyanz commented on #25
You are right. utils.py was missing SHG_WKT value. I have added statement to import this value. You may copy util.py from repository to your install location. I will update the wheel files later.

[2021-06-25 15:09] hahabibi88 commented on #25
Thank you! Now it runs without an error but when I use DSSVue to visualize it, I see the record is written but it doesn't open it (doesn't show the plot or grid info)! However, when I use the "specified" as the "grid_type", I can see the grid plot and and grid info! Is the detailed info CRS for "SHG_WKT" is defined somewhere in the scripts? I only could find this definition in the "SHG_WKT = SHG_S

[2021-06-25 16:00] gyanz commented on #25
You can find the value of SHG_SRC_DEFINITION in the header [file](https://github.com/gyanz/pydsstools/blob/master/pydsstools/src/external/dss/headers/zStructSpatialGrid.h). Which version of HEC-DSSVue are you using?

[2021-06-25 16:16] hahabibi88 commented on #25
Thank you! I am using Version 3.2.3! Not sure, why the DSSvue doesn't show the recorded, although it is written to the file.

[2021-06-25 16:26] gyanz commented on #25
Can you post pathname for the grid record? It may have incorrect D- and E- parts.

[2021-06-25 16:29] hahabibi88 commented on #25
I notice something. I installed the pydsstools through the wheels and now when I checked, I see the "external" folder doesn't exist in the src folder! I couldn't install the tool from source code, so I used the wheels! Can I just copy the external folder in my install location?

and here is the pathname:
"/GIRD/Drainage/PRECIPITATION/25Aug2017:1700/25Aug2017:1715/V0/"

[2021-06-25 16:45] gyanz commented on #25
The install location is not supposed to have the external folder. The external folder is used while building the library from source. The purpose of the wheel files is to bypass the "build from source" or compilation step. Can you remove the dates in the pathname and see if DSSVue shows the grid?

[2021-06-25 16:59] hahabibi88 commented on #25
I removed it and it not showing the record. Do you see anything unusual here:

![image](https://user-images.githubusercontent.com/47610832/123459539-0763bc00-d5ac-11eb-939c-2943f8d1e93a.png)

When I use "specified" grid type, the results are OK but not sure if it can be read/used by HMS model since the projection is not (Albers)! do you have any experience on this?
![image](https://user-images.git

[2021-06-25 23:53] gyanz commented on #25
SHG is an standard grid system for United States. Are you sure your xmin and ymax values are consistent with SHG grid?

[2021-06-28 15:42] hahabibi88 commented on #25
I am not sure if I am using the correct SHG grid.
What I did is using xmin and ymax (the coordinates in meter for upper left corner of the upper left grid cell) which is xmin=890373.33 m and ymax=4257710.63 m and calculated lower left y as following:

lower_left_y= 4257710.63-51*1000= 4206710.63 m (51 is number of rows and 1000 is cell size)
Then the "opt_lower_left_x" and "opt_lower_left_y" in SH

[2021-07-16 13:11] apreucil opened #26 "Time Series reading dates incorrectly"
I'm having an issue reading the dates when I am reading a large file. I have a dss file with data at daily time step. I am using the read_ts function in the Open class. Whenever I try to read a window larger than 24,854 days long is when the issue occurs. The first 24,854 days are read with the correct time stamp. However, the next entry reverts to 1860-09-11 17:31:44. It doesn't matter where the

[2021-07-16 15:27] gyanz commented on #26
Thanks for reporting this issue @apreucil. This is a bug as you pointed out happens for large time window. I think the problem lies in the way I am calculating times attribute in the TimeSeriesStruct class.

[2021-07-24 19:16] gyanz commented on #26
@apreucil The time value for regular time-series was stored as seconds. This caused overflow of int32 variable that stored each time value. The latest revision fixes this issue, thus, allowing reading of regular time-series with reasonably large time window.

[2021-08-06 15:56] #26 closed

[2021-08-16 09:03] sumitsaini326 opened #27 "Problems with the installation of the library"
![image](https://user-images.githubusercontent.com/39621731/129538816-cecd174a-079d-4367-9f49-928e8bbdc5d6.png)
![image](https://user-images.githubusercontent.com/39621731/129538873-d73f4c96-bf66-4561-bed1-fbf043e5aeea.png)

[2021-08-17 16:32] gyanz commented on #27
@sumitsaini326 It looks like you don't have Fortran Compiler installed. Please read the build environment requirements in "Build from sources" of README.

[2021-09-24 11:45] nikhilteja91 opened #28 "Required DSS-6 format instead of DSS-7"
Hi. I want to write all the grids to DSS-6 version only instead of DSS-7. What can I do (edit) in the script so that all my files are in DSS-6 version only? Please help me out. Because, the DSS-7 version files are unable to run in HEC-HMS 4.6.1. Coule you please tell me any alternative?

Thanks

[2021-09-27 21:32] gyanz commented on #28
Writing grid data to DSS-6 version is not supported by this library.

[2021-09-28 06:14] nikhilteja91 commented on #28
Could you please tell me any alternate way to write data to DSS-6 version. Any assistance you can provide would be greatly appreciated, as it will be helpful for my research.

[2021-09-28 17:48] gyanz commented on #28
Sorry, I don't have information about the alternate method.

[2021-09-28 17:48] #28 closed

[2021-10-15 19:00] jeffsuperglide opened #29 "Installation From Source and Import Error"
[Installation From Source](https://github.com/gyanz/pydsstools#installation-from-sources) issues presented in #23 and #27 may be related to [hecdatetime.h](https://github.com/gyanz/pydsstools/blob/master/pydsstools/src/external/gridv6/headers).  The error I was getting is related to `grid.a` not found.  Traced it down to header `hecdatetime.h` renamed to `HecDateTime.h`.  Compiles and installs but

[2021-10-20 15:35] gyanz commented on #29
@jeffsuperglide I have not had problem compiling from source. Nevertheless, renaming hecdatetime.h makes sense.  Regarding the  import error, it looks like there is mismatch in numpy version during compilation and runtime. Can you provide your numpy and cython version, and other build environment information?

[2021-10-20 16:45] jeffsuperglide commented on #29
@gyanz I'm using Docker and switched images from `ubuntu:20.04` to `osgeo/gdal` testing something else and that helped.  Probably was the numpy version but didn't investigate.

I see where `hecdatetime.h` is from https://github.com/HydrologicEngineeringCenter/hec-dss.  I'll talk to @ktarbet.

Did run into another issue with `put_grid` with `('grid_type','sht-time')`, and `getPyDateTimeFromString(d

[2021-11-08 21:45] #29 closed

[2021-11-15 12:25] mdeshotel commented on #25
Has this been resolved? I am having the same or similar issue. I am unable to get anything other than the 'specified' grid type to work. Using the 'specified' grid type allows me to view the grid in HEC-DSSVue but gives me issues when reading the resulting grid in HEC-HMS. If I try 'shg' or 'albers' as the grid type the dss file is populated with records but I am unable to view them.

[2021-11-22 11:53] steezbert opened #31 "Written dss file not valid in HEC HMS"
Hey Gyan,

I am currently working on a project with HEC HMS and HEC RAS and your package has been a big help getting all the data into dss files. Unfortunately I am getting an error if I try to use the dss file of gridded precipitation in HEC HMS. I can open and view the dss file containing my grids in dssvue and it says the record has no issues.

![dssvue](https://user-images.githubusercontent.co

[2021-11-24 15:21] gyanz commented on #31
@steezbert You may be using grid or coordinate system that is not compatible with HEC-HMS. Sorry, I don't have expertise in HEC-HMS to resolve this issue.

[2021-11-24 15:45] steezbert commented on #31
Hey @gyanz,
thank you for your quick answer. I am using UTM33N which should work with HEC-HMS.
As mentioned I have the same issue using your example code to write gridded data into a dss file.
I also tried using SHG and Albers as a reference system but the issue is the same.
Do you have any idea what could go wrong while writing into the dss file as it seems to be an issue with the file name or po

[2021-11-24 20:25] danhamill commented on #31
Just looking though the OP I think your grids are not properly georeferenced.  The lower cell should not be (0,0). Why aren't you using xmin and ymin to construct the affine?

Better yet, why not use raster_stack.transform to get the affine transformation from the source grids?

[2021-11-25 14:21] steezbert commented on #31
Thank you @danhamill  for your input. You are right in my case the lower left cell should not be (0,0). Looks like I took the screenshot from a bad example. But that should not be the issue, as I tried different settings for the lower left indexing.

I did also transfrom on the raster stack and single raster and used pydsstools lower_left_xy_from_transform (which it uses internally as well I think

[2021-11-29 15:22] gyanz commented on #31
@steezbert Since you are able to open the grid record in HEC-DSSVue, there is nothing wrong with the grid data itself. There is however possibility of Garbage In, Garbage Out scenario with inappropriate grid meta data. For example, you can create SHG grid located outside North America using this library. Nevertheless, the "zopen" error message you have posted may be related to dss file and grid ve

[2021-11-29 16:01] steezbert commented on #31
I could not reply earlier, so sorry for that. I did some testing today and it seems like HEC-HMS does not support dss version 7 files. Hope they implement it soon as pydsstools makes data entry so much easier. Back to batching HEC-Vortex it is for now.
Thanks all for your help.

[2021-11-29 16:01] #31 closed

[2021-11-29 18:01] danhamill commented on #31
@steezbert Good idea!  Just make sure you handle the nodata values correctly.  Vortex expects NaN for no-data, so you might have to sanitize if you need to rerpoject/resample your grids

[2021-12-09 11:45] steezbert commented on #29
@gyanz I was wondering if this change is also implemented if pydsstools has been installed using the last wheel file provided.

I installed pydsstools from wheel and when trying to write grids with `('grid_type', 'specified-time')` the following error occurs:

`"Exception: For %s grid type, DPart and EPart of pathname must be datetime string"`

The `D-part` and `E-part` are formatted as requested

[2021-12-14 20:26] openSourcerer9000 opened #32 "Can we please get a conda-forge feedstock?"
Have you considered putting this package on a language-agnostic package manager like conda? I'm a big fan of this package but I've only gotten it working by copying the whole project over, or using the wheel file. The wheel works well, but it doesn't seem as repeatable as spinning up an env with `conda create -n myEnv -c conda-forge python=3.8 pydsstools`.

This is as far as I was able to get in t

[2021-12-16 15:00] gyanz commented on #32
Currently, I have no plans to put the package in conda. You can install the package in conda environment by activating the environment first and running "pip install wheel_file" command.

[2021-12-20 20:16] openSourcerer9000 opened #33 "Bizarre "OverflowError: Python int too large to convert to C long" when using put_grid()"
So I'm trying put_grid on this ndarray, reproducible example below:
[array.zip](https://github.com/gyanz/pydsstools/files/7747693/array.zip)

[code]

And getting this weird error:

[code]

There's definitely no -3.4e38 value in the array (range is 0-255). Trying to trace it back in the code, it seems to be something to do with a `self._data['data'].fill_value` in grid.py creating this giant phanto

[2021-12-20 22:11] gyanz commented on #33
The grid data is stored as float and -3.4..e38 is used as no data value. I recommend to convert the integer array "aray" to float type.

[2021-12-20 22:17] openSourcerer9000 commented on #33
Quickest fix ever! Thank you. Handling the error or doing the conversion under the hood may be helpful

[2021-12-21 01:45] gyanz commented on #33
As you suggested, I have revised put_grid method to cast grid data to float32 type.

[2021-12-21 01:45] #33 closed

[2021-12-21 01:45] #32 closed

[2022-01-11 15:14] openSourcerer9000 opened #34 "Records in DSS file written to SHG/Albers is corrupt"
So I'm trying to write a DSS file in SHG. The data is in EPSG:5070 with 20m cell size, snapped to the SHG grid (all x and y values are multiples of 20). This is what I'm putting into my grid info:

[code]

When I use 'grid_type':'specified', it produces a valid DSS, but HMS complains that my gridded deficit and constant loss params are bad, which I am assuming is due to the projection. When I try

[2022-01-13 16:13] gyanz commented on #34
@openSourcerer9000  Based on https://github.com/gyanz/pydsstools/issues/31, HEC-HMS does not support HEC-DSS 7 format.

[2022-01-13 16:48] openSourcerer9000 commented on #34
Ouch

`WARNING:root:Writing DSS grid record in DSS-6 file is not supported`

So pydsstools and HMS are just not compatible? Is there a legacy pydsstools version which will write these to a DSS-6? Or is there some way to convert a grid in DSS 7 to DSS 6?

I think beyond that, there is still something going on with this Albers projection, as DSSVue isn't able to read the grids either, yet their path

[2022-01-13 17:45] danhamill commented on #34
I have not had any success converting grids in a version 7 dss file to version 6.  I would suggest using the HEC utility [vortex](https://github.com/HydrologicEngineeringCenter/Vortex) for your HMS grid processing needs.  I believe the vortex tools come with HMS versions >= 4.9.

[2022-01-14 17:30] steezbert commented on #34
@openSourcerer9000 from the errors I'd say you should check if the filepath parts are all correct, especially if using 'time' grids. What I don't get is why would you use the 'time' grid version for parameters?

One error message is `AttributeError: 'NoneType' object has no attribute 'year'`, so I would check that.

The error `Exception: For %s grid type, DPart and EPart of pathname must be dateti

[2022-01-18 18:37] dloney opened #35 "Parallel I/O call failure"
When I attempt to run multiple models in parallel making simultaneous DSS calls to pydsstools, my models fail due to I/O errors. It appears that either the calls do not block for the read/write or time out and fail to complete. When I do the same set of runs in separate environments, each with their own pydsstools package, I do not receive the issue. Since the DSS libraries are the same on my mach

[2022-01-18 20:25] gyanz commented on #35
@dloney Can you please post or attach simplified code that causes the I/O failure?

[2022-01-18 20:35] dloney commented on #35
This is the code that calls the multiprocessing operations:
[code]

Within that, there are multiple DSS calls within each of the parallel function calls. This is one of the reads:
[code]

Also a write operation:
[code]

Reducing the multiprocessing call to a serial call in the code eliminates the DSS failures completely. That means the individual operations are fine and will execute correctly. The

[2022-01-18 22:22] gyanz commented on #35
Thanks @dloney. Can you also post the python error message?

[2022-01-18 22:50] dloney commented on #35
I don't receive a Python error message. The DSS I/O fails silently. The only way to distinguish between a proper and improper run is to look at the model output and determine if the output files have been generated.

[2022-01-19 13:19] gyanz commented on #35
@dloney This problem is not easy to debug as it involves parallel programming. It would help me if you can provide simplified code that captures gist of what your original code is doing.

[2022-01-19 13:23] gyanz commented on #34
I have contacted HEC to resolve this issue. I will provide an update about my findings. Thanks everybody for your feedback.

[2022-01-19 14:20] dloney commented on #35
This is my full script, sanitized of location names:

[code]

[2022-01-21 16:21] ktarbet opened #36 "Note on DSS Version 6 versus DSS Version 7 grid records."
The DSS C/Fortran library [hec-dss](https://github.com/HydrologicEngineeringCenter/hec-dss) does not support writing DSS6 Grids.  However, hec-dss has some support for Reading DSS6 grids.    That same limitation is passed onto pydsstools, or any Non-Java tool or application.  The intent is for hec-dss to focus on DSS Version 7 and retire the DSS 6 Java/Fortran based file format.

Tools such as HMS

[2022-01-23 08:35] AlJoz opened #37 "Installation problem"
Hi, I try to install the repository using pip install https://github.com/gyanz/pydsstools/zipball/master command on my PC but I get the below error.
Could you please provide any advice on the above? It would be much appreciated.
Thanks,

pip install https://github.com/gyanz/pydsstools/zipball/master

Collecting https://github.com/gyanz/pydsstools/zipball/master
  Using cached https://github.com/gy

[2022-01-24 16:16] gyanz commented on #37
I suggest you to install using the second approach in README: Installation from binary wheels. The approach you are currently using requires you to have various compilers installed on your machine.

[2022-01-24 16:21] gyanz commented on #36
@ktarbet Thanks for posting this useful information. I am curious about your statement that HMS supports both DSS6 and DSS7. Does this mean HMS is able to read DSS7 grid data?

[2022-01-24 16:29] ktarbet commented on #36
I think HMS can read DSS 7 grids.   @tombrauer would you please confirm?

[2022-01-24 16:34] tombrauer commented on #36
HEC-HMS can read both 6 and 7. HEC-HMS will write in DSS version 6 by default. We are working on a full adoption of DSS 7 where we would write to DSS 7 by default, rather than 6.

[2022-01-24 16:51] gyanz commented on #36
@tombrauer What is the minimum HEC-HMS version that supports DSS 7?

[2022-01-24 16:52] tombrauer commented on #36
@gyanz I can't say with certainty without doing some testing. I would guess v4.4. Could be v4.3.

[2022-01-24 17:38] tombrauer commented on #36
From the commit history, it looks like DSS7 read capability started in v4.3, released in September 2018.

[2022-01-25 15:26] gyanz commented on #34
Based on https://github.com/gyanz/pydsstools/issues/36, HEC-HMS supports DSS 7. I will review the grid writer in [Vortex](https://github.com/HydrologicEngineeringCenter/Vortex/blob/master/vortex-api/src/main/java/mil/army/usace/hec/vortex/io/DssDataWriter.java) and try to emulate that in pydsstools.

[2022-01-28 00:33] AlJoz commented on #37
Thank you @gyanz . It is working now.

[2022-01-28 14:14] #37 closed

[2022-01-28 14:15] #27 closed

[2022-02-01 04:32] dloney commented on #35
@gyanz Any luck tracking down the issue? If we move offline, I can share the full model stack with you and help debug.

[2022-02-01 14:35] gyanz commented on #35
I think this library is not thread safe since the extension module that wraps the C/C++ libraries uses global variables and python objects. The C/C++ functions and classes themselves may not be safe in parallel environment without using synchronization locks. Solving this issue would require reorganization of the extension module, and huge effort and research. Currently, this is not a top priority

[2022-02-01 15:21] #24 closed

[2022-02-03 03:54] dloney commented on #35
I'm working on adding the thread locks, but I'm getting build error when compiling on linux when linking to heclib.a What compiler version was used to build that library?

[2022-02-03 14:40] gyanz commented on #35
I use GCC 9.3. You can find the dependencies in README.

[2022-02-04 15:17] gyanz commented on #35
@dloney I have attached batch file I use to build in Windows 10. The batch file loads Intel OneApi, Visual Studio and conda environments before executing the build command.
[build_wheels.zip](https://github.com/gyanz/pydsstools/files/8003981/build_wheels.zip)

In Linux, GCC, gfortran and few other dependencies are needed. Unlike Windows 10, I recommend using Python's virtual env instead of conda e

[2022-02-10 15:24] gyanz commented on #35
@dloney DSS-7 C library is using static [hec_zdssLastError struct](https://github.com/HydrologicEngineeringCenter/hec-dss/blob/master/heclib/heclib_c/src/Internal/zerrorProcessing.c) to report error status of each API call. This means that DSS-7 operations can't be truly parallelized. However, I see some benefits in being able to use API calls from multiple threads by using Mutex. For example, eac

[2022-02-10 18:01] tharunpalla opened #38 "Issue with installation of pydsstools"
I am unable to run the command

` python setup.py install.`

Here is the exception. Could you please help here?

[code]

[2022-02-10 21:05] gyanz commented on #38
I recommend following instruction to install from the wheel file.

[2022-02-11 12:43] tharunpalla commented on #38
Thanks that worked

[2022-02-11 12:43] #38 closed

[2022-03-23 15:06] apreucil opened #39 "Suppress Output"
Anyone know a way to suppress this output every time I am reading a variable with read_ts? Thanks!
![image](https://user-images.githubusercontent.com/60394347/159730707-80ea0bc1-7a74-46db-bfa8-4c8a466acf03.png)

[2022-03-29 20:11] ryanjcahill commented on #39
Looks like this will work:

from pydsstools.heclib.utils import dss_logging
dss_logging.config(level='General')

Allowable values are: 'None', 'Error', 'Critical', 'General', 'Info', 'Debug', 'Diagnostic'

See https://github.com/gyanz/pydsstools/blob/master/pydsstools/heclib/utils.py

[2022-03-29 20:47] ryanjcahill commented on #39
I saw this was resolved in an earlier comment, but the resolution didn't work for me. I tried the suggested fix from the link below, but it had no effect. Perhaps the functionality changed? I'm using 2.2.

from pydsstools.heclib.utils import dss_logging
dss_logging.config(level='None')

https://github.com/gyanz/pydsstools/issues/16#issuecomment-706324336

[2022-03-30 15:45] apreucil commented on #39
Thanks Ryan, I also am on 2.2. I also tried to add the suggested code and it did not have an effect for me either. I'm using python 3.7, if that helps.

[2022-04-06 15:05] apreucil commented on #39
I upgraded to python version 3.9 this morning, and installed the pydsstools for 3.9. I am no longer getting the extra output when reading the DSS files, so all good! But there may be a problem in the 3.7 distribution. Again, not a huge deal (especially since I upgraded and am no longer having the issue) but if you wanted to check into it, seems like it's isolated to the 3.7 distribution. Thanks!

[2022-04-27 20:58] ryanjcahill commented on #39
Darn, I upgraded to Python 3.9, but it didn't work for me--the messages still keep popping up.

[2022-05-10 22:25] danhamill opened #40 "Why is `trim_missing=True` the default method `read_ts` ?"
Having been caught up on this in several projects, what is the rational for having `trim_missing=True` in the `read_ts` method as the default behavior?

In my mind, zero is a valid measurement.

[2022-05-13 00:18] MikeNeilson commented on #40
Hello,

The trim missing won't (or at least shouldn't) remove values of 0 as they
aren't considered missing in DSS files. Missing values are specifically
indicated by -901 and -902 in DSS (1). I believe it will also work based on
a quality flag which it would then remove regardless of value (our SQL
database works that way at least I but I don't think I've tested that in
DSS.) If you're having "0"

[2022-05-13 22:46] danhamill commented on #40
I will have to work out an example to show the unexpected behavior, but I am seeing zeros (not noData or -901.0) being dropped from the beginning or end of a time series with the default `trim_missing=True` argument.

If a user goes through the effort to provide and exact window to `read_ts`, I also think the default behavior should be to return everything contained in the window.

[2022-09-30 18:57] dhah229 opened #41 "cannot import name 'core_heclib' from 'pydsstools._lib.x64'"
I am hitting an import error
[code]
Using Python 3.7 pydsstools installed using .whl file.
Thank you

[2022-10-27 18:31] scottRMA opened #42 "Support for python 3.11"
Will there be any planned updates for python 3.11? The new update has some great speed increases I'd like to use this library with.

thank you!

[2022-10-31 14:45] dhah229 commented on #41
Fresh install worked.

[2022-10-31 14:45] #41 closed

[2022-11-17 14:25] gyanz commented on #42
Yes. I am currently retooling the grid data interface. Once this is complete, I will release binaries for 3.11 and older python versions.